body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
  padding-bottom: 50px;
  background-color: #f7fafc;
}
html {
  min-height: 100%;
}
#root {
  min-height: 100%;
}

.footer {
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  text-align: center;
}
