.sign-form {
  width: 300px;
  overflow: hidden;
  height: auto;
  display: inline-block;
}
.sign-tab {
  margin: 1em 0;
  width: 60%;
  padding: 0 20%;
  position: relative;
}
  .sign-tab h2 {
    cursor: pointer;
    transition: color .3s;
    display: inline-block;
    margin: 0;
    padding: .4em 0;
    font-size: 1rem;
    height: 1.1rem;
    line-height: 1.1em;
    color: #333;
    font-weight: normal;
    width: 50%;
  }
  .sign-tab h2:hover {
    color: #555;
  }
  h2.active {
    color: #0f88eb;
  }
  h2.active:hover {
    color: #0f88eb;
  }
  .sign-tab span.slider-bar {
    position: absolute;
    transition: left .3s;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 16%;
    margin: 0 7%;
    background-color: #0f88eb;
  }
  .sign-tab span.left {
    left: 20%;
  }
  .sign-tab span.right {
    left: 50%;
  }
.sign-form.in .sign-up {
  display: none;
}
.sign-form.up .sign-in {
  display: none;
}
