.image-preview {
  width: 10rem;
  /*0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)*/
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
  height: 10rem;
  display: inline-block;
  margin: 1rem;
}
.image-preview div {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
