.sign-form {
  width: 300px;
  overflow: hidden;
  height: auto;
  display: inline-block;
}
.sign-tab {
  margin: 1em 0;
  width: 60%;
  padding: 0 20%;
  position: relative;
}
  .sign-tab h2 {
    cursor: pointer;
    transition: color .3s;
    display: inline-block;
    margin: 0;
    padding: .4em 0;
    font-size: 1rem;
    height: 1.1rem;
    line-height: 1.1em;
    color: #333;
    font-weight: normal;
    width: 50%;
  }
  .sign-tab h2:hover {
    color: #555;
  }
  h2.active {
    color: #0f88eb;
  }
  h2.active:hover {
    color: #0f88eb;
  }
  .sign-tab span.slider-bar {
    position: absolute;
    transition: left .3s;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 16%;
    margin: 0 7%;
    background-color: #0f88eb;
  }
  .sign-tab span.left {
    left: 20%;
  }
  .sign-tab span.right {
    left: 50%;
  }
.slider-boxes {
  transition: transform .3s;
  width: 200%;
}
.slider-boxes.left {
  transform: translateX(0%);
}
.slider-boxes.right {
  transform: translateX(-50%);
}
  .slider-boxes>div {
    width: 50%;
    float: left;
  }
.sign-up-info {
  text-align: left;
}
  .sign-up-info .text {
    font-size: 1rem;
    line-height: 1.2em;
    color: #333;
    padding: .5em;
  }
    .sign-up-info .text a {
      margin: 0 .2rem;
      text-decoration: none;
      color: #698ebf;
      font-style: italic;
    }
    .sign-up-info .text a:hover {
      text-decoration: underline;
      font-style: italic;
    }

.input-group, .status-bar, .submit {
  width: 80%;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, .12);
  border-radius: 4px;
}
.status-bar.ok {
  opacity: 0;
  visibility: hidden;
  background-color: green;
}
.status-bar.error {
  background-color: pink;
}
.status-bar.processing {
  /*background-color: blue;*/
}
.status-bar {
  padding: 0 .2em;
  font-size: .8rem;
  height: 2em;
  visibility: visible;
  transition: background-color .5s;
  line-height: 2em;
  box-sizing: border-box;
  background-color: pink;
}
.sign-in-form {
  text-align: left;
}
  .sign-in-form input {
    font-size: .8rem;
    border: 1px solid #ddd;
    background-color: white;
    padding: 1em .8em;
    display: block;
    outline: none;
    box-sizing: border-box;
    width: 100%;
  }
  input.submit {
    margin-top: 3em;
    width: 80%;
    cursor: pointer;
    background-color: white;
  }
  input.submit:hover {
    background-color: #fafafa;
  }
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #555;
}

