.app {
  text-align: center;
  height: 100%;
  min-height: 720px;
}

.app:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.app-main {
  min-height: 600px;
  display: inline-block;
  vertical-align: middle;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.app-intro {
  font-size: large;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
