.app {
  height: 100%;
  min-height: 720px;
}

nav {
  background-color: #424242;
  border-bottom: 4px solid #E91E63;
  height: 60px;
}

.app-logo {
  animation: app-logo-spin infinite 20s linear;
  display: inline-block;
  float: left;
  height: 40px;
  padding: 10px;
}

.app-intro {
  color: #ddd;
  display: inline-block;
  float: left;
  height: 40px;
  line-height: 40px;
  margin: 0;
  padding: 10px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
